<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Shreddit home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="skate">Skate!</a></li>
      <li><a routerLink="bmx">BMX!</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <button class="btn btn-info btn-sm" (click)="newPostButtonClicked()">New post</button>
  <app-new-post [newPostFormClicked]="newPostClicked" (newPostSender)="addPost($event)" (doneWithNewPostFormClickedSender)="hideNewPostForm($event)"></app-new-post>
  <router-outlet></router-outlet>
</div>
